body {
    margin: 0;
    padding: 0;
    font-family: 'TitrPlus', sans-serif; /* فونت تیتر پلاس */
    background-color: #f4f4f4; /* رنگ پس‌زمینه */
    color: #333; /* رنگ متن */
}

h1, h2, h3, h4, h5, h6 {
    color: #2c3e50; /* رنگ عناوین */
}

a {
    text-decoration: none; /* حذف خط زیر لینک‌ها */
    color: #3498db; /* رنگ لینک‌ها */
}

a:hover {
    color: #2980b9; /* رنگ لینک‌ها در حالت هاور */
}

